* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Montserrat", Verdana, sans-serif;
    background-color: #202022;
    color: #e3e3e3;
}

h1, h2, h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 140%;
}


/* nav */

nav {
    font-size: clamp(1.2em, 1vw, 1.5em);
    background-color: #1d1d1f;
    padding: 0.8% 14px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
}


nav li a {
    display: block;
    color: #e3e3e3;
    padding: 4px 20px 10px 20px;
    text-decoration: none;

    transition: color 0.4s;
}

nav li a:hover:not(.active) {
    color:rgb(118, 117, 117);
}

.active{
    color: #e3e3e3;
    border-bottom: 1.5px solid #ffffff;
}

.topnav .icon {
    display: none;
}


/* end nav */



/* Header */

header {
    background-image: url('images/Eiffel_Tower_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 105%;
    height: 500px;    

    position: relative;
}

header h1 {
    font-size: clamp(2em, 7vw, 3.4375em);
}


.title {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    text-align: center;
}

.date {
    font-size: clamp(1.05em, 1.5vw, 1.3em);
    margin-top: 30px;
    border-top: 1px solid white;
    padding-top: 25px;
}
.date p {
    display: inline;
    padding: 25px 25px 14px 25px;
    border-right: 1px solid white;
}

.date p:last-child {
    border: none;
}

/* End Header*/


/* Main */

.quote {
    padding: 50px 20px 25px 20px;
}

main h2 {
    text-align: center;
    font-size: clamp(1.5em, 2.3vw, 2.8125em);
}

main p { 
    margin-bottom: 20px;
}

.blockquote {
    max-width: max(50%, 600px);
    background-color: rgb(238, 238, 238);
    border: 1.5px solid #828282;
    margin: 50px auto 0 auto;   
    color: #000000;
    padding: 30px 30px 17px 30px;
    box-shadow: 6px 10px #828282;

    font-size: clamp(1em, 2vw, 1.25em);
}

.blockquote::before {
    content: "\201c";
    font-size: 5em;
    display: block;
    margin: -20px 0 -30px 0 ;
}

.blockquote-texte {
    font-style: italic;
}

.blockquote-texte::after {
    content: "\201D";
    font-size: 4em;
    display: block;
    float: right;
    margin: 15px 10px 0 0;
}


.blockquote-credit {
    padding-top: 50px;
    font-style: italic;

    font-weight: bolder;
    font-style: normal;
    text-align: right;
}

.blockquote-credit::before {
    content: "\2014\0020";
    font-size: 1.25em;
}

.program-committee {
    margin-top: 50px;
}


.committee {
    font-size: clamp(0.8em, 1vw, 1.25em);
    margin: 55px 25px 0 25px;
    color: #e3e3e3;
    text-align: center;
    display: grid;
    gap: min(4%, 20px);
    grid-template-columns: auto auto auto;
}

.committee div {
    background-color: #1d1d1f;
    border-radius: 10px;
    padding: min(2%, 20px);
}


.committee img {
    width: 160px;
    height: auto;
    margin: 20px 0;
}

.committee p {
    font-size: 1.25em;
}

/* End Main */

footer {
    font-size: clamp(0.9em, 1.5vw, 1em);
    text-align: center;
    margin: 90px 0 35px 0;
}



@media only screen and (min-width: 1650px) {
    .committee {
        grid-template-columns: auto auto auto auto;

    }
}


@media only screen and (max-width: 1000px) {
    nav ul {
        display: block;
        margin-left: 10px;
    }

    .topnav li {
        display: none;
    }

    .topnav li.icon {
        display: block;
        float: right;
        padding-top: 8px;
    }

    .topnav.responsive { 
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    } 

    .topnav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive li:not(:first-child), .topnav.responsive li:not(.icon)  {
        padding-top: 10px;
    }

    .topnav.responsive li .active {
        border: none;
        color: #757575;
    }
}

@media only screen and (max-width: 910px) {
    .committee img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;

    }

    .committee {
        grid-template-columns: auto auto;
        padding: 0;

    }

    footer {
        margin: 140px 0 35px 0
    }
}

@media only screen and (max-width: 600px) {
    .date {
        margin-top: 5px;
        padding: 0;
        border-top: none;
    }

    .date p {
        display: block;
        padding: 25px;
        border-right: none;
        border-bottom: 1px solid white;
        width: 80%;
        margin: 0 auto;
    }
}


